body
{
    margin:         0;          /* no margins */
    overflow:       hidden;     /* hide scrollbars */
    color:          black;
    text-align:     center;
}

h1
{
    position:       absolute;    /* better that default of static - more control */
    width:          100%;       /* 100% of parent element (the body here)*/
    z-index:        1;          /* -1 is behind +1 above default "stack order" default is (0) */
    /* larger Z is drawn last and is thus above smaller Zs" */
    /* font-size:      1.5rem;  MH: Like large font */
}

a
{
    color: darkblue;
}

a:hover
{
    color: darkred;
}


#scene-container
{
    position:       absolute;       /* better that default of static - more control */
    width:          100%;
    height:         100%;
}
canvas {
    display: block;
}


/* added! */
@-webkit-keyframes arrow_anim {
    from { margin-top: 58px; }
    to { margin-top: 67px; }
}

@-moz-keyframes arrow_anim {
    from { margin-top: 58px; }
    to { margin-top: 67px; }
}

@-ms-keyframes arrow_anim {
    from { margin-top: 58px; }
    to { margin-top: 67px; }
}

@-o-keyframes arrow_anim {
    from { margin-top: 58px; }
    to { margin-top: 67px; }
}

@keyframes arrow_anim {
    from { margin-top: 58px; }
    to { margin-top: 67px; }
}

#arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ff00fb;
    height: 0;
    margin: 60px 0px 0px 360px;
    position: absolute;
    width: 0;

    -webkit-animation: arrow_anim .3s steps(3) infinite;
    -moz-animation: arrow_anim .3s steps(3) infinite;
    -ms-animation: arrow_anim .3s steps(3) infinite;
    -o-animation: arrow_anim .3s steps(3) infinite;
    animation: arrow_anim .3s steps(3) infinite;
}

#dialog {
    height: 70px;
    background: #1c1c1c;
    border-radius: 5px;
    box-shadow: 0 0 0 6px #F5EAC8, 0 0 0 12px #251C00;
    color: #F5EAC8;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 20px 20px 20px;
    position: relative;
    text-transform: uppercase;
    word-spacing: 3px;
    width: 400px;
}